.slider {
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background: radial-gradient(
    circle,
    #7c88ff,
    #7681f2,
    #707be5,
    #6a74d8,
    #646ecb
  );

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #333;
      border: none;
      padding: 15px 30px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;

      @media screen and (max-width: 450px) {
        padding: 7px 15px;
      }

      h1 {
        color: white;
        font-size: 2rem;
        font-weight: 400;
        margin: 0;

        @media screen and (max-width: 450px) {
          font-size: 1.5rem;
        }

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    &__dots {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      //padding: 20px;

      &--dot {
        width: 10px;
        height: 10px;
        background-color: #ccc;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;

        &.active {
          background-color: #333;
        }
      }
    }
  }

  &__container {
    display: flex;

    &--slide {
      //width: 100vw;
      width: 100%;
      display: none;

      &.active {
        display: flex;
        width: 100vw;
      }
    }
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-reverse {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
