.slider {
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background: radial-gradient(
    circle,
    #7c88ff,
    #7681f2,
    #707be5,
    #6a74d8,
    #646ecb
  );

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;

    &__button {
      display: flex;
      cursor: pointer;
      z-index: 999;
      padding: 12px;
      border-radius: 5px;
      background-color: rgba(252, 252, 252, 0.24);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      transition: all 0.3 ease-in-out;

      h1 {
        color: black;
        font-size: 1.5rem;

        &:hover {
          color: #646ecb;
        }
      }
    }

    &__dots {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      //padding: 20px;

      &--dot {
        width: 10px;
        height: 10px;
        background-color: #ccc;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;

        &.active {
          background-color: #333;
        }
      }
    }
  }

  &__container {
    display: flex;

    &--slide {
      //width: 100vw;
      display: none;

      &.active {
        display: flex;
      }
    }
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-reverse {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
