@import "./reset";
@import "./fonts";

// Components styles
@import "../Components/Nav/Styles/nav";
@import "../Components/Slider/Styles/slider";

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $title-font;
  overflow: hidden;
}
