@import "./reset";
@import "./fonts";
@import '~font-awesome/css/font-awesome.css';

// Components styles
@import "../Components/Slider/Styles/slider";
@import "../Components/Hero/Styles/hero";

//Projects
@import "../Components/Projects/ProjectsBox/Styles/projects-box";
@import "../Components/Projects/ProjectCard/Styles/project-card";

// About me
@import "../Components/AboutMe/Main/Styles/about-me";
@import "../Components/AboutMe/AboutMeContent/Styles/about-me-content";
@import "../Components/AboutMe/Tech/TechStackItem/Styles/tech-stack-items";
@import "../Components/AboutMe/Tech/TechStackList/Styles/tech-stack-item";

// Contacts
@import "../Components/Contacts/ContactsBox/Styles/contacts-box";
@import "../Components/Contacts/ContactsBoxContent/Styles/contacts-box-content";
@import "../Components/Contacts/ContactButtons/Styles/contacts-buttons";

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $title-font;
  overflow: hidden;
}

.hero-container {
  margin: 0 auto;
  padding: 1rem 12rem;

  @media screen and (max-width: 1450px) {
    padding: 3.5rem;
  }

  @media screen and (max-width: 1150px) {
    padding: 2rem;
  }
}

.container {
  margin: 0 auto;
  padding: 5rem 20rem;
}

h1 {
  font-size: 8rem;
  font-weight: 800;
  font-family: $title-font;
  color: #fff;

  @media screen and (max-width: 1660px) {
    font-size: 7.5rem;
  }

  @media screen and (max-width: 1262px) {
    font-size: 5rem;
  }

  @media screen and (max-width: 500px) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 3rem;
  color: #fff;

  @media screen and (max-width: 1660px) {
    font-size: 2.5rem;
  }

  @media screen and (max-width: 1262px) {
    font-size: 1.8rem;
  }
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 400;
  color: #dbdbdb;

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}
