.logo-color {
  color: #646ecb;
  font-weight: 700;
}

// Mobile version

.navbar__mobile {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 15px;
  margin: 10px;
  z-index: 999;
  background-color: rgba(253, 88, 88, 0.87);
  border-radius: 50%;
  // transform: translateX(-100%);
  //opacity: 0;
  //transition: all 0.7s ease-in-out;
  animation: slideIn 0.7s ease-in-out;

  @media screen and (max-width: 736px) {
    display: flex;
  }

  // &.first-slide {
  //   //transform: translateX(0);
  //   //opacity: 1;
  //   display: flex;
  // }
  // &.other-slide {
  //   animation: slideOut 0.7s ease-in-out;
  // }

  a {
    text-decoration: none;
    color: white;
  }

  &__logo {
    font-size: 1.2rem;

    h1 {
      font-size: 2rem;
      font-weight: 500;
      color: black;
    }
  }

  &__links {
    &--buttons {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      a {
        position: relative;
        padding: 10px 20px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        overflow: hidden;
        transition: color 0.3s ease-in-out;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #646ecb;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.3s ease-in-out;
        }

        &:hover {
          color: #646ecb;
        }

        &:hover::before {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }
}

// Version for 1 slide

.navbar__1slide {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  gap: 10rem;
  background-color: rgba(179, 179, 179, 0.678);
  padding: 30px 20px;
  box-shadow: 0px 1px 5px #999;
  z-index: 999;
  // transform: translateX(-100%);
  //opacity: 0;
  //transition: all 0.7s ease-in-out;
  animation: slideIn 0.7s ease-in-out;

  &.first-slide {
    //transform: translateX(0);
    //opacity: 1;
    display: flex;

    @media screen and (max-width: 736px) {
      display: none;
    }

  }
  &.other-slide {
    animation: slideOut 0.7s ease-in-out;
  }

  a {
    text-decoration: none;
    color: white;
  }

  &__logo {
    font-size: 1.2rem;

    h1 {
      font-size: 2rem;
      font-weight: 500;
      color: black;
    }
  }

  &__links {
    &--buttons {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      a {
        position: relative;
        padding: 10px 20px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        overflow: hidden;
        transition: color 0.3s ease-in-out;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #646ecb;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.3s ease-in-out;
        }

        &:hover {
          color: #646ecb;
        }

        &:hover::before {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    display: flex;
  }
  to {
    transform: translateX(-100%);
    display: none;
  }
}

// 2 slides

.navbar__2slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  gap: 10rem;
  background-color: rgba(179, 179, 179, 0.678);
  padding: 30px 20px;
  box-shadow: 0px 1px 5px #999;
  z-index: 999;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.7s ease-in-out;
  //animation: slideIn 0.7s ease-in-out;

  &.two-slides {
    transform: translateY(0);
    opacity: 1;
    //display: flex;
  }
  &.other-slide {
    //animation: slideOut 0.7s ease-in-out;
  }

  a {
    text-decoration: none;
    color: white;
  }

  &__logo {
    font-size: 1.2rem;

    h1 {
      font-size: 2rem;
      font-weight: 500;
      color: black;
    }
  }

  &__links {
    &--buttons {
      display: flex;
      flex-direction: row;
      gap: 2rem;

      a {
        position: relative;
        padding: 10px 20px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        overflow: hidden;
        transition: color 0.3s ease-in-out;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #646ecb;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.3s ease-in-out;
        }

        &:hover {
          color: #646ecb;
        }

        &:hover::before {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }
}
