.contacts__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;

  @media (max-width: 768px) {
    padding: 0;
  }

  &__title {
    h1 {
      margin-bottom: 3rem;
      letter-spacing: 4px;
      transform: translateY(-20px);
      opacity: 0;
      animation: slideUp 1s ease-out forwards 0.5s;

      @media screen and (max-width: 478px) {
        font-size: 3.2rem;
      }
    }

    h2,
    p {
      max-width: 800px;
      margin: 0 auto 50px;
      opacity: 0.9;
      transform: translateY(20px);
      opacity: 0;
      animation: fadeIn 1s ease-out forwards 1s;
    }
  }
}

@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
