.project-card {
  position: relative;
  display: flex;
  width: 800px;
  height: 600px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  &:hover {
    width: 1100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  img {
    width: 800px;
    height: 600px;
    object-fit: cover;
    object-position: top;
    transition: object-position 7s ease-in-out, width 0.3s ease-in-out;
  }

  &:hover img {
    object-position: bottom;
    width: 600px;
  }

  &__project-info {
    background-color: #0e1a35;
    color: white;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.3s;

    &--info-box {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        font-size: 2rem;
      }

      &--pic-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100px;

        img {
          width: 2rem !important;
          height: 2rem !important;
          margin-left: 5px;
        }
      }

      &__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a {
          color: #e4b303;
          text-decoration: none;
          font-size: 1.3rem;
          transition: color 0.3s;

          &:hover {
            color: #947e00;
          }
        }
      }
    }
  }
}
