.project-card {
  position: relative;
  display: flex;
  width: 800px;
  height: 750px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  &:hover {
    width: 1100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  img {
    width: 800px;
    height: 750px;
    object-fit: cover;
    object-position: top;
    transition: object-position 7s ease-in-out, width 0.3s ease-in-out;
  }

  &:hover img {
    object-position: bottom;
    width: 600px;
  }
}

.project-info {
  background-color: #0e1a35;
  color: white;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: transform 0.3s;
  height: 100%;
  box-sizing: border-box;

  .github-link {
    display: flex;
    align-items: center;
  }

  a {
    color: #f3c30d;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: #ffd700;
    }
  }
}
