/* Main component START */
@use "./Components/Container/Styles/index";
@use "./Components/Container/FlyingObject/Styles/flyingObj";
@use "./Components/Container/Slider/Styles/slider";
/* Main component END */

/* Hero component START */
@use "./Components/Hero/HeroBox/Styles/heroBox";
@use "./Components/Hero/HeroContent/Styles/heroContent";
@use "./Components/Hero/HeroSide1/Styles/heroSide1";
@use "./Components/Hero/HeroSide2/Styles/heroSide2";
/* Hero component END */

/* Projects component START */
@use "./Components/Projects/ProjectsBox/Styles/projects-box";
@use "./Components/Projects/ProjectCard/Styles/project-card";
/* Projects component END */

/* About me component START */
@use "./Components/AboutMe/AboutMeBox/Styles/about-me-box";
@use "./Components/AboutMe/AboutMeContent/Styles/about-me-content";
@use "./Components/AboutMe/Tech/TechStackItem/Styles/tech-stack-items";
@use "./Components/AboutMe/Tech/TechStackList/Styles/tech-stack-item";
/* About me component END */

/* Contacts component START */
@use "./Components/Contacts/ContactsBox/Styles/contacts-box";
@use "./Components/Contacts/ContactsBoxContent/Styles/contacts-box-content";
@use "./Components/Contacts/ContactButtons/Styles/contacts-buttons";
/* Contacts component END */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$title-font: "Archivo", sans-serif;
$text-font: "Lato", sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $text-font;
  overflow: hidden;
}

.hero-container {
  margin: 0 auto;
  padding: 1rem 12rem;

  @media screen and (max-width: 1450px) {
    padding: 0 3.5rem;
  }

  @media screen and (max-width: 1150px) {
    padding: 2rem;
  }
}

.container {
  margin: 0 auto;
  padding: 5rem 20rem;
}

h1 {
  font-size: 7rem;
  font-weight: 800;
  font-family: $title-font;
  color: #fff;

  @media screen and (max-width: 1660px) {
    font-size: 5.5rem;
  }

  @media screen and (max-width: 1262px) {
    font-size: 5rem;
  }

  @media screen and (max-width: 500px) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 3rem;
  color: #fff;

  @media screen and (max-width: 1660px) {
    font-size: 2.5rem;
  }

  @media screen and (max-width: 1262px) {
    font-size: 1.8rem;
  }
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 400;
  color: #dbdbdb;

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

.logo-color {
  font-weight: 700;
  color: #0073e6;
}
